*{
    background-color: transparent;
}

svg{
    width: 100%;
    height: 100%;
    fill: black;
}

.icon-container{
    height: calc(35vw/8);
    width: calc(35vw/8);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}